[Unit]
Description=MicroMPX Decoder
After=network.target
Documentation=http://zuidwestfm.nl/

[Service]
Type=simple
User=micrompx
WorkingDirectory=/opt/micrompx
ExecStart=/opt/micrompx/MicroMPX_Decoder
Restart=always

[Install]
WantedBy=multi-user.target
Alias=micrompx.service
