[Unit]
Description=RAM disk for MicroMPX logs
After=local-fs.target

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /mnt/ramdisk
ExecStart=/bin/mount -t tmpfs -o size=250m tmpfs /mnt/ramdisk
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target