name: Update Allowlist

on:
  workflow_dispatch:

jobs:
  update_allowlist:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup JQ
      uses: chrisdickinson/setup-jq@v1

    - name: Fetch and process IP ranges
      run: |
        # URL of the JSON file
        url="https://uptimerobot.com/inc/files/ips/IPRanges.json"

        # Use curl to get the JSON, then use jq to parse it and format the prefixes as a single line
        ip_ranges=$(curl -s "$url" | jq -r '.prefixes[] | (.ipv4Prefix // .ipv6Prefix)' | sed '$!s/$/,/' | tr '\n' ' ')

        # Write the line to the file
        echo "$ip_ranges" > allowlist.txt

    - name: Commit and push if it's not up to date
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git diff --quiet && git diff --staged --quiet || git commit -m "Updated IP ranges"
        git push
